<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Carrito de Compras</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
	<script src="https://kit.fontawesome.com/167f11bea6.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body id="aplicacion">
    <header>
        <section class="container-header">
            <div class="imagen-logo">
                <a href="index.html" target="_top">
                    <img src="imagenes/logo-marketplace.jpg" alt="logo"/>
                </a>
            </div>
            <div>
                <form action="#">
                    <label for="">
                        <input type="text" class="buscador" id="txtFiltrar" placeholder="Buscar producto" />
                        <button class="btn-lupa" id="btnFiltrar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </label>
                </form>
            </div>
            <div>
                <a href="iniciar-secion.html" target="_top">
                    <button class="usuario" id="abrirLogin">
                        <i id="img-us" class="fa-solid fa-circle-user"></i>
                        <strong>iniciar sesisón</strong>
                    </button>
                </a>
            </div>
            <div class="icono-carrito">
                <button class="btn-carrito"><i class="fa-solid fa-cart-plus"></i></button>
				<p class="cantVentas" id="cantVentas">{{carroDeCompras.length}}</p>
            </div>
        </section>
    </header>
	<nav>
        <ul>
            <li><a href="#" class="palabras-nav">Productos</a></li>
            <li><a href="#" class="palabras-nav">Marcas</a></li>
            <li><a href="#" class="palabras-nav">Ayuda</a></li>
            <li><a href="#" class="palabras-nav">Contacto</a></li>
        </ul>
    </nav>
    <div class="contenedor-carrito">
        <div class="titulo-volver">
            <p class="titulo-carro">Carrito de compras</p>
            <button class="btn-PagAnterior" onclick="regresar()">
                <i class="fa-solid fa-arrow-left" ></i>
            </button>
        </div>
        <div class="precio-vaciar">
            <strong>
                <p class="precio-total">Total ${{totalCompra}}</p>
            </strong>
            <button @click="vaciarCarro" class="btn-vaciar-carro">
                <i class="fa-solid fa-trash"></i>
                Vaciar Carro
            </button>
        </div>
        <div v-if="carroDeCompras.length === 0">
            El carrito está vacío.
        </div>
        <div v-else class="contenedor-compras">
            <div v-for="(item, index) in carroDeCompras" :key="index" class="item-carrito">
                <img :src="item.img" alt="Imagen notebook en carrito" class="img-carro">
                <p>{{ item.title }}</p>
                <p>RAM: {{ item.ramAmount }}</p>
                <p>Precio ${{ item.price }}</p>
                <button @click="removerDelCarro(index)" class="btn-remover">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        <div class="div-btn-comprar">
            <button class="btn-comprar" id="btn-comprar" >
                Comprar
            </button>
        </div>
    </div>

    <script src="carro-compras.js"></script>
    <script src="producto.js"></script>
    <script src="script.js"></script>
</body>
</html>