<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Asus Zenbook Pro 14</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
	<script src="https://kit.fontawesome.com/167f11bea6.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body id="aplicacion">
	<header>
        <section class="container-header">
            <div class="imagen-logo">
                <a href="index.html" target="_top">
                    <img src="imagenes/logo-marketplace.jpg" alt="logo"/>
                </a>
            </div>
            <div>
                <form action="#">
                    <label for="">
                        <input type="text" class="buscador" id="txtFiltrar" placeholder="Buscar producto" />
                        <button class="btn-lupa" id="btnFiltrar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </label>
                </form>
            </div>
            <div>
                <a href="iniciar-secion.html" target="_top">
                    <button class="usuario" id="abrirLogin">
                        <i id="img-us" class="fa-solid fa-circle-user"></i>
                        <strong>iniciar sesisón</strong>
                    </button>
                </a>
            </div>
            <div class="icono-carrito">
				<a href="carrito.html">
					<button class="btn-carrito"><i class="fa-solid fa-cart-plus"></i></button>
					<p class="cantVentas">{{carroDeCompras.length}}</p>
				</a>
            </div>
        </section>
    </header>
	<nav>
        <ul>
            <li><a href="#" class="palabras-nav">Productos</a></li>
            <li><a href="#" class="palabras-nav">Marcas</a></li>
            <li><a href="#" class="palabras-nav">Ayuda</a></li>
            <li><a href="#" class="palabras-nav">Contacto</a></li>
        </ul>
    </nav>
	<main>
		<section class="container-principal">
			<section class="imagen-producto">
				<figure>
					<img :src="urlImagen" alt="Imagen Lenovo" id="imagen-notebook">
				</figure>
				<div class="imagenes-miniatura">
					<img v-for="(imagen, indice) in imagenes" class="imagen-miniatura"
						@mouseover="cambiarImagen(indice)"
						:src="imagen" :alt="'Imagen computadora ' + indice">
				</div>
			</section>
			<section>
				<div class="titulo">
					<h1>{{title}}</h1>
				</div>
				<div>
					<div class="contenedor-precio">
						<span class="precio-final">
							Precio ${{ precioNotebook }}
						</span>
						<select class="seleccionar-notebook" v-model="indiceTipoNotebook">
							<option v-for="(notebook, index) in notebooksTypes" :key="index" :value="index">
								RAM: {{ notebook.ramAmount }}
							</option>
						</select>
					</div>
				</div>
				<div class="contador-carrito">
					<form action="#">
						<label>
							<input type="number" placeholder="1" value="1" min="1" class="input-cantidad" id="input-cantidad">
							<button class="btn-add-carrito" @click="aniadirCarrito">
								<i class="fa-solid fa-cart-plus"> </i>
								Añadir al carrito
							</button>
						</label>
					</form>
				</div>
				<div class="descripcion">
					<div class="titulo-descripcion">
						<h2>Descripcion</h2>
					</div>
					<div class="texto-descripcion">
						<ul class="lista-descripcion">
							<li v-for="(item, index) in descriptionItems" :key="index">{{ item }}</li>
						</ul>
						<p class="pagina-oficial"> 
							<strong>
								<a :href="factory_url" target="_blank">- Pagina Oficial del fabricante -</a>
							</strong>
						</p>
					</div>
				</div>
				<div class="compartir">
					<span>Compartir</span>
					<div class="botones-social">
						<a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
						<a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
						<a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
						<a href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
						<a href="#" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
					</div>
				</div>
			</section>
		</section>
		<section class="container-opiniones">
			<h2>Calificar y opinar</h2>
			<p>Comparte tu experiencia para ayudar a otros</p>
			<div class="estrellas">
				<input type="radio" name="rating" id="estrella-1">
				<label for="estrella-1"><i class="fa-solid fa-star"></i></label>
				<input type="radio" name="rating" id="estrella-2">
				<label for="estrella-2"><i class="fa-solid fa-star"></i></label>
				<input type="radio" name="rating" id="estrella-3">
				<label for="estrella-3"><i class="fa-solid fa-star"></i></label>
				<input type="radio" name="rating" id="estrella-4">
				<label for="estrella-4"><i class="fa-solid fa-star"></i></label>
				<input type="radio" name="rating" id="estrella-5">
				<label for="estrella-5"><i class="fa-solid fa-star"></i></label>
			</div>
			<div class="caja-comentarios">
				<textarea id="comentario" cols="30" rows="5" placeholder="Escribe tu comentario aquí"></textarea>
			</div>
			<div class="caja-btn-publicar">
				<button id="btn-publicar" class="btn-publicar">Publicar</button>
			</div>
			<h3 id="cantidadComentarios">
				<!-- xx comentarios -->
			</h3>
			<div id="divComentarios">
				<!-- Comentarios -->
			</div>
		</section>		
	</main>
	<footer>
	</footer>
	<script src="producto.js"></script>
</body>

</html>